################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/app/.vs/TrackerApplication/v15
/app/packages
