################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/app/.vs/TrackerApplication/v15
/app/packages
/app/TrackerApp.Order/obj/x64/Debug
/app/TrackerApp.Order.Interfaces/obj/x64/Debug
/app/TrackerApp.Order/bin/x64/Debug
